.cal-header div { display: inline-block; font-weight: bold; width: 14.28%; text-align: center;}
.cal-scroll { border-top: 3px solid black; }
.cal-w { width: 100%; }
.cal-months { width: 100px; }
.cal-m { border-top: 1px solid black; margin-top: -1px; width: 100%; }
.cal-d { display: inline-block; width: 14.28%; text-align: center; padding: 5px 0; }
.cal-d-firstweek { border-top: 1px solid black; margin-top: -1px; }
.cal-d-first { border-left: 1px solid black; margin-left: -1px; }
.cal-d-odd-month { background: lightgray; }
